<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Ajouter utilisateur</title>
</head>
<body>

<form action="" method="get" class="addUsers">
    <label for="name">Enter your name: </label>
    <input type="text" name="name" id="name" required />
    <label for="email">Enter your email: </label>
    <input type="email" name="email" id="email" required />
    <label for="password">Enter your password: </label>
    <input type="password" name="password" id="password" required />
</form>

</body>
</html>